.container {
  height: 100vh;
  width: 100vw;
  font-family: var(--font-headings);
}

/* LADO ESQUERDO - VINHO */
.sidebar {
  flex: 1;
  background-color: #800020; /* Vinho Umanizzare */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 40px;
}

.logoArea {
  text-align: center;
}

.logoArea img {
  width: 150px; /* Logo maior como na imagem */
  margin-bottom: 20px;
}

.logoArea h1 {
  font-size: 5.5rem;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.logoArea h3{
  display: block;
  font-size: 1.5em;
  letter-spacing: 20px;
  color: #E09A3E; /* Bronze do Instituto */
  margin-top: 0px;
  margin-bottom: 40px;
}

.sidebar h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

/* LADO DIREITO - CREME */
.formSection {
  flex: 1.2;
  background-color: #f3eee8; /* Fundo creme da imagem */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.loginCard {
  background-color: #fdfaf9; /* Branco levemente quente */
  width: 100%;
  max-width: 500px;
  padding: 60px 50px;
  border-radius: 40px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.header h3 {
  color: #000;
  font-size: 2.2rem;
  margin-bottom: 5px;
}

.header p {
  color: #333;
  font-size: 1rem;
  margin-bottom: 40px;
}

.inputGroup {
  text-align: left;
  margin-bottom: 20px;
}

.inputGroup label {
  display: block;
  color: #000;
  margin-bottom: 8px;
  font-weight: 500;
}

.inputGroup input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #f9f9f9;
  outline: none;
}

.forgotPassword {
  display: block;
  text-align: right;
  color: #E09A3E; /* Cor bronzeada para o link */
  font-size: 0.85rem;
  text-decoration: none;
  margin-top: -10px;
  margin-bottom: 30px;
}

.btnCadastrar {
  width: 100%;
  background-color: #800020;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.btnCadastrar:hover {
  background-color: #600018;
}

.footerLink {
  margin-top: 40px;
  color: #333;
  font-size: 0.9rem;
}

.footerLink a {
  color: #c06b3e;
  font-weight: bold;
  text-decoration: none;
}