.footer {
  background: var(--bg-primary);
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.footer p {
  font-size: 1.4rem;
  opacity: 0.6;
}